/*Base styles*/

body {
    background-color: hsl(35, 40%, 91%);
    color: hsl(25, 22%, 56%);
    font-family: Avenir, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    background-color: hsl(35, 40%, 95%);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-basis: 1200px;
    padding: 10px 10px;
}

.item {
    background-color: hsl(35, 40%, 98%);
    border: 1px solid hsl(35, 40%, 78%);
    border-radius: 4px;
    box-shadow: 2px 2px 4px hsl(35, 40%, 78%);
    padding: 30px 30px;
}

#aside {
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 40px;
}

#main {
    flex-grow: 1;
    flex-shrink: 1;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    #aside,
    #main {
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        margin-right: 0;
        margin-bottom: 40px;
    }
}
